[Desktop Entry]
Type=Application
Name=Spider Media Center
Comment=Spider OS media player
Exec=/usr/local/lib/spider-os/media/bin/spider-media-center %U
Icon=multimedia-player
Terminal=false
Categories=AudioVideo;Audio;Video;Player;
StartupNotify=true
Keywords=Spider;Media;Music;Video;Player;
